#root {
  margin: 0 auto;
  font-family: 'Nunito Sans', sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.bg-grey{
  background-color: lightgray;
}
.dashViewHistory{
  height: 40rem;
  overflow-y: auto;
}
.bg-whitesmoke{
  background-color: whitesmoke;
}
.bg-light-blue{
  background-color: #410603!important;
}
.bg-tick-blue{
  background-color: #ed4c4e!important;
}
.border-black{
  border:1px solid black;
}
.c-blue{
  color: #ed4c4e!important;
}
.bg-light-pink{
  background-color: #FFFAF0!important;;
}
.custom-shape-divider-bottom-1692639668 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFFAF0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  bottom: -8rem;
  z-index: 100;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1692639668 svg {
  position: relative;
  display: block;
  width: calc(147% + 1.3px);
  height: 130px;
}
.icon{
  border-radius: 63% 37% 30% 70% / 50% 45% 55% 50%;
  -webkit-border-radius: 63% 37% 30% 70% / 50% 45% 55% 50%;
}

.custom-shape-divider-bottom-1692639668 .shape-fill {
  fill: bisque;
}
.bg-light-yellow{
  background-color: lightyellow;
}
.c-brown{
  color: #410603;
}
.grey-c{
  color:rgb(128, 128, 128);
}
.service{
  font-size: 4.17em;
  font-weight: 600;
  line-height: 1.3;
}
.bg-light{
  background-color: #fcfafa;
}
.bg-light-green{
  background-color: #edf5ff;
}
.bg-golden{
  background-color:gold;
}
.border-brown{
  border: 1px solid brown;
}
.bg-light-purple{
  background-color: #e4d3ff;
}
.bg-darkgrey{
  background-color: darkgray;
}
.bg-beige{
  background-color: beige;
}
.api-bg{
  background-image: url("https://peacesub.com.ng/static/styling/img/bg/2.svg");
  background-color: #edf5ff;
  background-repeat: no-repeat;
  background-size: contain;

}
.agent{
  background-color: #edf5ff;
}
.bg-glass{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("https://assets.website-files.com/63e4cc8d2ac61a3dee9bb0ee/649029187a627d3f20534626_Group%20175-p-500.webp");
}
.authLayout{
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5%;
  background-image: url("https://assets.website-files.com/63e4cc8d2ac61a3dee9bb0ee/649029187a627d3f20534626_Group%20175-p-500.webp");
  background-color:bisque;
}
.footer{
  border-top: 16px dotted #ed4c4e;
}
.hamburger{
  display: none;
}
.nav{
  display: flex;
}
.hv{height: 100vh;}
.ht-100{
  height: 100%;
}
.bg-mtn{
  background:goldenrod;
}
.bg-airtel{
  background-color: #ed4c4e;
}
.bg-glo{
  background-color: greenyellow;
}
.bg-9mobile{
  background-color: green;
}
@media only screen and (min-width:320px) and (max-width:767px){
  .nav.active{
    display: block;
    width: 100%;
    padding:2rem;
    z-index: 1;
    background-color: white;

  }
  .hamburger{
    display: block;
  }
  .nav{
    display: none;
  }
}